# Dependencies
/frontend/node_modules
/backend/node_modules

# Next.js build output
/frontend/.next
/frontend/out

# Strapi/Backend build output
/backend/build

# Environment files
.env
.env.*

# Misc
.DS_Store
*.log
.tmp